body{
    font-family: sans-serif;
    color: gray;
}
header {
    background: #f39c12;
    color: white;
    border: 1px solid #f39c12;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
img, h1,h2{
    display: inline-block;
    vertical-align: middle;
}
ul{
    list-style: none;
    padding: 0;
    width: 600px;
    margin: 0px auto;
    box-sizing: border-box;

}
li{
    padding: 10px;
    border: 1px solid #eaeaea;
    display: block;
    width: 600px;
    box-sizing: border-box;
}
.blue{
    background: blue;
    color: white;
    padding: 5px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;px;
    margin-left: 78%;
}
.aqua{
    background: aqua;
    color: white;
    padding: 5px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;px;
    margin-left: 82%;
}
.green{
     background: green;
     color: white;
     padding: 5px 10px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     border-radius: 15px;px;
     margin-left: 65%;
 }
.red{
    background: red;
    color: white;
    padding: 5px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;px;
    margin-left: 75%;
}
